// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.background{
  margin: 0 auto ;
  width:auto;
  height:1000px;
  background-position: center;
  background-image:image-url('haro20211230-A7400289-Edit_TP_V4.jpeg');
  background-size: cover;


}

.main{
  padding: 15px ;
  height:: auto;
  background-color: rgba( 0, 0, 0, 0.5);
}

