<div>
  <p><strong>Photonity</strong>へようこそ</br>
    ここはカメラに関する技術向上のためのコミュニティーサイトです。</br>
    質問や批評してほしい写真を投稿してみましょう。</p>
  <p>いろいろな人の意見を参考にしてみましょう！</p>
</div>

<div>
  <p>初めての方</br>→<%= link_to "さっそく使ってみる", root_path %></p>
  <p>アカウントをお持ちの方</br>→<%= link_to "ログイン" , new_member_session_path %></p>
  <p>新しくアカウントを登録する</br>→<%= link_to "新規登録", new_member_registration_path %></p></div>